#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 300px;
  padding: 2rem;
  text-align: center;
}

.todoListArea {
  background-color: rgb(19, 17, 17);
  padding: 100px 200px;
  border-radius: 50px;
}

.inputArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


#text-input {
  border-radius: 8px;
  border: 1px rgba(255, 255, 255, 0.411) solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00000093;
  cursor: pointer;
  width: 300px;
}

.list-area {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1em;
}